@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

body {
  background-color: var(--color-slate-900);
}
